body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: white;
}

*{
    list-style-type: none;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

/* ===CONTAINER=== */

.container {
    width: 100%;
    min-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
/* ===VISUALLY HIDDEN=== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ==================HEADER================== */
.header{
    padding: 16px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-navigation-logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.mobile-nav-btn {
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.mobile-nav-svg {}

.header-logo {
    color:#2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.header-navigation-link {
    position: relative; 
    color: #2E2F42;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.active,
.mobil-nav-link.mobile-active,
.mobil-nav-link:hover,
.mobil-nav-link:focus{
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-list .active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
}

.header-navigation-list {
    display: none;
    gap: 40px;
}

.header-list-item {
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: none;
    gap: 40px;
}

.header-address-list-item {
}

.header-address-link {
    color: #434455;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus,
.mobile-nav-address-link:hover,
.mobile-nav-address-link:focus{
    color: #404BBF;
}

/* mobile nav */

@media  screen and (max-width: 768px) {
    
    .nav-mobile{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        padding: 72px 16px 40px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .is-open{
        display: flex;
    }

    .mobile-nav-close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
    }
    .mobile-nav-close-btn:hover,
    .mobile-nav-close-btn:focus {
        background-color: #404BBF;
        border: none;
    }

    .mobile-nav-close-btn svg {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-nav-close-btn:hover svg,
    .mobile-nav-close-btn:focus svg {
        fill: #ffffff;
    }

    .mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .address-social-container{
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .mobil-nav-link{
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .mobile-nav-address-list{
        display: flex;
        flex-direction: column;
        gap: 24px;
    } 

    .mobile-nav-address-link{
        color: var(--SLATE, #434455);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }


    .mobile-nav-social-list {
        width: 100%;
        display: flex;
        gap: calc((100% - 160px) / 4);
        justify-content: center;
    }

    .mobile-nav-social-item {
        display: flex;
    }

    .mobile-nav-icon-link {
        display: flex;
        height: 40px;
        width: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav-icon-link:hover,
    .mobile-nav-icon-link:focus {
        background-color: #404BBF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-svg {
        fill: #f4f4fd;
    }
}  
@media screen and (min-width: 769px) {
    .nav-mobile {
        display: none;
    }
}
    /* ========================================== */

/* ==================SECTION HERO IMAGE================== */
.hero-image {
    background-color: rgba(46, 47, 66, 0.70);
}

.container-hero-image{
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),  url(../images/header-img-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 320px;
    padding: 72px 0;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .container-hero-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/header-img-mobile2x.jpg);
    }
}


.hero-image-title{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;

    letter-spacing: 0.02em;
    max-width: 156px;
    margin: 0 auto 72px;
}

.hero-image-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-image-btn:focus,
.hero-image-btn:hover{
    background-color: #404BBF;
}
/* ========================================== */

/* ==================SECTION FEATURE================== */

.feature {
    padding: 96px 0;
}

.feature-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}
    
.feature-list-item{
    width: 288px;
}

.feature-icon {
    display: none;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.feature-icon-svg {
    fill: #2E2F42;
}

.feature-title {
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.feature-text {
    color: #434455;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========================================== */

/* ==================SECTION TEAM================== */

.team {
    background-color: #F4F4FD;
    padding: 96px 28px;
}

.team-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-container{
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.team-img {
    margin: 0 auto;    
}

.team-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-team {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-icon-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.icon-link{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.icon-svg{
    fill:#F4F4Fd;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========================================== */

/* ==================SECTION PORTFOLIO================== */

.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.portfolio-list-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img {
    margin: 0 auto;
}

.portfolio-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text-portfolio {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-box-overflow {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover .overflow-text {
    transform: translateY(0%);
}

.overflow-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
}

/* ========================================== */

/* ==================FOOTER================== */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
    color: #F4F4FD;
}

.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 72px;
}

.footer-container-logo{
}

.footer-link {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.footer-logo {
    color: #FFF;
    font-family: "Raleway" , sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
}

.social {
    width: 100%;
    margin: 0 auto;
}

.social-text {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-list {
    width: 100%;
    display: flex;
    gap: calc((100% - 160px) / 4);
    justify-content: center;
}

.footer-social-item {}

.footer-icon-link{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg {
    fill: #f4f4fd;
}

.footer-email-input {

}

.form-email-input {

}

.subscribe-text {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.email-input {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 40px;
    padding-left: 16px;
    color: var(--WHITE, #FFF);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    outline: none;
    margin: 0 auto 16px;
}


.email-input:placeholder-shown{
    border: 1px solid #fff;
}

.email-input:hover{
    border: 1px solid #4D5AE5;
}

.email-input::placeholder {
    color:#FFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-btn-subscribe {
    height: 40px;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.paper-plain-icon{
    fill: white;
    margin-left: 16px;
}

.footer-btn-subscribe:focus,
.footer-btn-subscribe:hover {
    background-color: #31D0AA;
}

/* ========================================== */

/* ==================BACKDROP================== */

.backdrop {
    display: none;
    width: 100%;
    height: 100%;
    background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 72px 16px 24px;
    border-radius: 4px;
    min-width: 288px;
    min-height: 584px;
    background: var(--DAIRY, #FCFCFC);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-btn svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
    fill: #ffffff;
}

.modal-form {}

.all-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.modal-title {
    margin-bottom: 16px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.model-field {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 40px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    padding-left: 38px;
}

.modal-input:focus {
    border-color: #4D5AE5;
}


.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}

.modal-input::placeholder {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-comment {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 40px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    padding: 8px 16px;
    height: 120px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.text-comment {
    margin-bottom: 16px
}

.modal-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.policy-container {
    margin-bottom: 24px;
    min-width: 256px;
}

.container-label {
    display: flex;
    gap: 8px;
    align-items: center;
}



.modal-polisy-checkbox {}

.active-checkbox {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-polisy-checkbox:checked+.container-label .active-checkbox {
    background-color: #404BBF;
    fill: #f4f4fd;
    border: none;
}


.link-privacy-policy {
    color: var(--IRIS, #4D5AE5);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.container-label p{
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.modal-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
}



@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }


    .header-container {
        display: flex;
        gap: 120px;
    }
    .header-navigation {
        flex-grow: 1;
        justify-content: space-between;
    }
    .mobile-nav-btn{
        display: none;
    }
    .header-navigation-list{
        display: flex;
        align-items: center;
    }
    .header-address-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0;
        padding: 0;
    }
    .header-address-list-item{
        flex: 1;
        align-items: center;
        display: flex;
    }
    .header-navigation-link{
        padding-bottom: 26px;
    }
    .header-address-link{
        font-family: inherit;
        font-size: 12px;
        line-height: 1.17;
        font-weight: 400;
        letter-spacing: 0.04em;
    }

    .container-hero-image{
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/header-img-table.jpg);
        width: 768px;
        padding: 112px 0;
    }

    @media screen and (min-resolution: 192dpi) {
        .container-hero-image {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/header-img-table2x.jpg);
        }
    }

    .hero-image-title{
        max-width: 496px;
        font-size: 56px;
        margin: 0 auto 48px;
    }

    .feature-title{
        text-align: start;
    }
    .feature-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .feature-list-item{
        width: calc((100% - 24px)/2);
    }


    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }
    .team-list-item{
        width: 264px;
    }


    .portfolio-list{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .portfolio-list-item{
        width: calc((100% - 24px)/2);
    }

    .footer-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        max-width: 552px;
    }
    .footer-container-logo {
        margin-right: 24px;
    }
    .footer-social-list{
        gap: 16px;
        width: 0;
        justify-content: start;
    }
    .subscribe-text {
        text-align: start;
    }
    .form-email-input{
        display: flex;
        gap: 24px;
    }
    .email-input{
        width: 264px;
    }
    .footer-btn-subscribe{
        margin: 0;
    }
    .footer-text {
        max-width: 264px;
    }
    .footer-link{
        text-align: start;
    }
    .social-text {

        text-align: start;
    }
    .social{
        width: auto;
        margin: 0;
    }
}


@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding: 0 15px;
    }

    .header{
        padding: 24px 0;
    }
    .header-container {
        gap: 332px;
    }
    .header-navigation{
        flex-grow: 1;
        justify-content: space-between;
        width: unset;
    }
    .header-navigation-link{
        gap: 40px;
        align-items: unset;
    }
    .header-address-list{
        flex-direction: row;
        gap: 40px;
    }
    .header-address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .container-hero-image{
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/header-img.jpg);
        width: 100%;
        max-width: 1440px;
        padding: 188px 0;
    }

    @media screen and (min-resolution: 192dpi) {
        .container-hero-image {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/header-img2x.jpg);
        }
    }
    .hero-image-title {
        max-width: 496px;
        font-size: 56px;
        margin: 0 auto 72px;
    }


    .feature-list-item {
        max-width: 264px;
    }
    .feature-icon{
      display: flex;
    }
    .feature-title {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: unset;
    }
    .feature-text {
        font-weight: 400;
    }
    .feature-list {
        display: flex;
        gap: 24px;
        flex-direction: row;
        align-items: unset;
    }

    .portfolio-list{
        gap: 24px;
        row-gap: 48px;
    }
    .portfolio-list-item{
        width: unset;
    }


    .footer-container {
        width: 1125px;
        align-items: baseline;
        gap: unset;
        max-width: unset;
        margin: 0 auto;
        flex-wrap: nowrap;
    }
    .footer-container-logo {
        margin-right: 120px;
    }
    .footer-link{
        display: inline-block;
        align-self: unset;

    }
    .footer-text{
        max-width: 264px;

    }
    .social {
        margin: unset;
        margin-right: 80px;
        width: unset;
    }
    .social-text{
        align-self: unset;
    }
    .footer-social-list {
        width: unset;
        display: flex;
        gap: 16px;
        justify-content: unset;
    }

    .email-input{
        margin: unset;
    }
    .footer-btn-subscribe {
        min-width: 165px;
    }


}